---
comments: true
---
<!DOCTYPE html>
<html>
<!--<<script id="dsq-count-scr" src="//adress.disqus.com/count.js" async></script>-->
  {% include head.html %}
  <body itemscope itemtype="http://schema.org/Article">
    {% include header.html %}
    <main class="content" role="main">
      <article class="post">
        {% if page.image %}
        <div class="article-image">
          <div class="post-image-image" style="background-image: url({% if page.image %}{{ page.image }}{% endif %})">
            تصویر نوشته
          </div>
          <div class="post-meta">
            <h1 class="post-title" style="text-align:center">{{ page.title }}</h1>
            <div style="text-align:center">
              <a href="#topofpage" class="topofpage"><i class="fa fa-angle-down"></i></a>
            </div>
        <div class="cf post-meta-text" style="text-align:center">
            <!--<div class="author-image" style="background-image: url({{ site.author_image }})">Blog Logo</div>-->
            <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ site.author }}</h4> | <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time>
          </a>
            <!-- , tagged on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}} -->
        </div>
          </div>
        </div>
        {% else %}
        <div class="noarticleimage">
          <div class="post-meta">
            <h1 class="post-title">{{ page.title }}</h1>
          </div>
        </div>
        <div class="cf post-meta-text" style="text-align:center">
              <!--<div class="author-image" style="background-image: url({{ site.author_image }})">Blog Logo</div>-->
              <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ site.author }}</h4> | <span class="date">{{ page.date: "%B %e, %Y"}}</span>
              <!-- , tagged on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}} -->
        </div>
        <br>
        <br>
        <br>
        {% endif %}
        <section dir="rtl" class="post-content">
<a id="demoFont" style="font-family: Georgia, serif;font-size: 12px;letter-spacing: 2px;word-spacing: -5px;color: #6A6A6A;font-weight: 700;font-style: italic;">زمان تخمینی مطالعه: <a class="post-reading"><a class="post-reading-time" style="font-family: Georgia, serif;font-size: 12px;letter-spacing: 2px;word-spacing: -2px;color: #6A6A6A;font-weight: 700;font-style: italic;"></a>
          <a name="topofpage"></a><br><br>
          {{content}}
        </section>
        <footer class="post-footer">
          <section class="share">
            {% for social in site.social %}
              {% if social.share_url != null %}
                <a class="icon-{{ social.icon }}" href="{{ social.share_url }}{{ social.share_title }}{{page.title | cgi_escape}}{{ social.share_link }}{{site.url}}{{page.id}}"
                  onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
                <i class="fa fa-{{ social.icon }}"></i><span class="hidden">{{ social.icon }}</span>
                </a>
              {% endif %}
              {% if page.comments %}
<!--         <div id="disqus_thread"></div>-->
<!--<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://adress.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>-->
<!--<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>-->

              {% endif %}
            {% endfor %}
          </section>
        </footer>
        <div class="bottom-teaser cf"style="text-align:center">
          <div class="isRight" >
            <h5 class="index-featuredLeft"><span></span></h5>
            <section class="author">
              <div class="author-image" style="background-image: url({{site.author_image}})">Blog Logo</div>
              <h4>{{ site.author }}</h4>
              <p class="bio">{{author.bio}}</p>
              <hr>
              <p class="published">Published <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time></p>
            </section>
          </div>
          {{/post}}
          <div class="isRight">
<!--            <footer class="site-footer">
            <h5 class="index-featuredRight"><span>رفع مسئولیت</span></h5>
              </div>
            </footer>-->
          </div>
        </div>
      </article>
    </main>
    <div class="bottom-closer">
      <div class="background-closer-image" {%if site.cover %} style="background-image: url({{ site.cover }})"{% endif %}>
        Image
      </div>
      <div class="inner">
<!--        <h1 class="blog-title">{{ site.title }}</h1>-->
        <h2 class="blog-description">{{ site.description }}</h2>
        <a href="/" class="btn">بازگشت به صفحه اول</a>
      </div>
    </div>
    {% include footer.html %}
    {% include javascripts.html %}
  </body>
</html>
